.booking .navbar {
    box-shadow: none;
}
.booking .sub-navbar {
    background-color: rgb(132, 168, 235);
}
.booking .sub-navbar p {
    padding: 30px 35px;
}
.booking .site-footer {
    background-color: rgb(132, 168, 235);
}
.booking .navbar .log-in a {
    color: rgb(132, 168, 235);
    border: 2px solid rgb(132, 168, 235);
    padding: 15px;
}
.booking .navbar .log-in a:hover {
    background: rgb(132, 168, 235); /* #66b7cb */
    color: white;
}