.booking-tab {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 100px 0 100px 0;
}
.booking-tab .doctor-info-tab {
    display: flex;
    background-color: white;
    width: 70%;
    padding: 24px;
    border: 1px solid rgba(0,0,0,.125);
    line-height: 1.7;
}
.booking-tab .doctor-info-tab .doctor-image img{
    border-radius: 5px;
}
.booking-tab .doctor-info-tab .doctor-info {
    margin-left: 10px;
}
.booking-tab .doctor-info-tab .doctor-info .doctor-name {
    padding-left: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}
 .doctor-departmant {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
}
.booking-tab .schedule-tab {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    border: 1px solid rgba(0,0,0,.125);
    line-height: 1.5;
    margin-top: 1.5%;
}
.booking-tab .schedule-tab .day {
    border: 0 solid rgba(0,0,0,.125);
    border-bottom-width: 1px;
    padding: 0 45px;
}
.booking-tab .schedule-tab .day .date {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    width: 170px !important;
    cursor: pointer;
    padding: 15px 0;
}
.booking-tab .schedule-tab .day .slick-track {
    padding: 0;
}
.slick-slide {
    margin: 0;
}
.booking-tab .schedule-tab .day .date:hover {
    background-color: rgb(73, 201, 188);
    transition-duration: 0s;
    color: white;
}
.booking-tab .schedule-tab .day .date:hover .h5 {
    transition-duration: 0s;
    color: white;
}
.booking-tab .schedule-tab .day .date .h5 {
    margin-top: 5px;
    font-size: 14px;
    color: #757575;
}
.booking-tab .schedule-tab .day .date:last-child {
    margin-right: 0;
}
.booking-tab .schedule-tab .day .slick-slide:nth-child(1) {
    background-color: rgb(73, 201, 188);
    color: white;
}
.booking-tab .schedule-tab .day .slick-slide:nth-child(1) .h5 {
    color: white;
}
.booking-tab .schedule-tab .time {
    display: flex;
    width: 100%;
    padding: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.booking-tab .schedule-tab .time div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
    color: #757575;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.booking-tab .schedule-tab .time div .appointment {
    background-color: #e9e9e9;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    margin: auto;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 10px;
    padding: 12px;
    transition: color 0.2s ease;
}
.booking-tab .schedule-tab .time div .appointment:nth-child(2) {
    background-color: white;
    color: rgba(0, 0, 0, 0.164);
    cursor: default;
}
.booking-tab .schedule-tab .time div .selected {
    background-color: rgb(73, 201, 188) !important;
    color: white !important;
}
.booking-tab .schedule-tab .time div .appointment:hover {
    background-color: rgb(214, 214, 214);
}
.booking-tab .schedule-tab .make-a-apointment {
    display: flex;
    justify-content: right;
    padding: 15px 45px;
}
.booking-tab .schedule-tab .make-a-apointment p {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    width: 25%;
    padding: 15px;
    background: rgb(73, 201, 188);
}
.booking-tab .schedule-tab .make-a-apointment p:hover {
    background-color: rgb(73, 201, 188);
}