.profile .profile-component {
    display: flex;
    padding: 50px 30px;
}
.profile .profile-component .profile-info {
    display: flex;
    justify-content: center;
    padding: 0 30px 0 0;
}
.profile .profile-component .profile-info .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    padding: 24px;
    height: fit-content;
}
.profile .profile-component .booking-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #f0f0f0;
}
table {
    text-align: center;
}
table tr {
    border: 0 solid #f0f0f0;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
table tr th {
    text-align: left;
    padding: 15px;
}
table tr td {
    text-align: left;
    padding: 15px;
}
table tr td .cancel {
    display: flex;
    font-size: 13px;
    padding: 1em 0.3em 1em 0.3em;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: rgb(255, 31, 69);
    color: white;
}
table tr:hover {
    background-color: rgba(132, 168, 235, 0.096);
}
.rate {
    cursor: pointer;
}
/* .rate:hover:nth-child(n + 1):nth-child(-n + 3) {
    background-color: #ff6240 !important;
    color: white !important;
}
.rate:hover:nth-child(n + 4):nth-child(-n + 7) {
    background-color: #f6a31c !important;
    color: white !important;
} */
.rate:nth-child(n + 11) {
    display: none !important;
}
.rate:nth-child(n + 1):nth-child(-n + 3) {
    border-color: #ff6240 !important;
    color: #ff6240 ;
}
.rate:nth-child(n + 4):nth-child(-n + 7) {
    border-color: #f6a31c !important;
    color: #f6a31c ;
}
.rate:nth-child(n + 8):nth-child(-n + 10) {
    border-color: #29cc81 !important;
    color: #29cc81 ;
}