.doctor-search .navbar {
    box-shadow: none;
}
.doctor-search .sub-navbar {
    padding: 30px 35px;
}
.doctor-search .site-footer {
    background-color: rgb(132, 168, 235);
}
.doctor-search .navbar .log-in a {
    color: rgb(132, 168, 235);
    border: 2px solid rgb(132, 168, 235);
    padding: 15px;
}
.doctor-search .navbar .log-in a:hover {
    background: rgb(132, 168, 235);
    color: white;
}
.doctor-search .sub-navbar {
    background-color: rgb(132, 168, 235);
}

.doctor-search .search-content {
    display: flex;
}