.doctor-search .navbar {
    box-shadow: none;
}
.doctor-search .navbar .log-in a {
    color: #3781c2;
    border: 2px solid #3781c2;
    padding: 15px;
}
.doctor-search .navbar .log-in a:hover {
    background: #3781c2;
    color: white;
}
.doctor-search .sub-navbar {
    background-color: #3781c2;
}

.doctor-search .search-content {
    display: flex;
}