.doctor-search .navbar {
    box-shadow: none;
}
.doctor-search .sub-navbar {
    padding: 30px 35px;
    background-color: rgb(73, 201, 188) !important;
}
.doctor-search .site-footer {
    background-color: rgb(73, 201, 188);
}
.doctor-search .navbar .log-in a {
    color: rgb(124, 218, 208);
    border: 2px solid rgb(73, 201, 188);
    padding: 15px;
}
.doctor-search .navbar .log-in a:hover {
    background: rgbrgb(73, 201, 188);
    color: white;
}
.doctor-search .search-content {
    display: flex;
}