.show-doctors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}
.show-doctors .doctor-card {
    display: flex;
    flex: 100%;
    height: fit-content;
    background-color: #fff;
    margin: 0 30px 15px 0;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.075);
}
.show-doctors .no-found-doctor {
    height: 100%;
    margin: auto;
    margin-top: 15%;
}
.show-doctors .doctor-card .doctor-image {
    margin: 0 20px 0 0;
}
.show-doctors .doctor-card .doctor-info {
    width: 100%;
}
.show-doctors .doctor-card .make-appointment {
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}
.show-doctors .doctor-card .make-appointment p {
    background-color: #f8f9fa;
    color: rgb(73, 201, 188);
    border: 1px solid rgb(73, 201, 188); 
    font-weight: 400;
    padding: 15px;
    border-radius: 3px;
}
.show-doctors .doctor-card .make-appointment p:hover {
    background-color: rgb(73, 201, 188);
    color: white;
}
.show-doctors .see-more {
    display: flex;
    justify-content: center;
    width: 100%;
}
.show-doctors .header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: rgba(0, 0, 0, 0.445);
    font-size: 28px;
    font-weight: 500;
    width: 100%;
}
.show-doctors .see-more p {
    padding: 12px;
    font-size: 0.85rem;
    background-color: rgb(73, 201, 188);
    border: 1px solid rgb(73, 201, 188);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}
.show-doctors .see-more p:hover {
    background-color: white;
    color: rgb(73, 201, 188);
    border: 1px solid rgb(73, 201, 188);
}
/* Suggestion */
.show-doctors .slick-slider .slick-slide{
    margin: 15px 30px 15px 0;
}
.slick-slider .suggestion-doctor-card {
    display: flex;
    height: fit-content;
    background-color: #fff;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.075);
}
.slick-slider .suggestion-doctor-card .doctor-image {
    display: flex;
    margin: 0 20px 0 0;
}
.slick-slider .suggestion-doctor-card .doctor-image .info p {
    font-size: 0.8rem;
}
.slick-slider .suggestion-doctor-card .doctor-image .info .departman{
    font-weight: 300;
}
.slick-slider .suggestion-doctor-card .doctor-image .info .doctor-departmant .material-icons {
    font-size: 18px;
    margin-right: 3px;
    color: rgba(255, 0, 0, 0.3);
}
.slick-slider .suggestion-doctor-card .doctor-image .info .doctor-departmant p {
    padding-top: 1px;
    font-weight: 400;
}
.slick-slider .suggestion-doctor-card .doctor-image .info .doctor-rank {
    margin-top: 3px;
}
.slick-slider .suggestion-doctor-card .doctor-image .info .doctor-rank .star .svg {
    margin: 0 -5px 0 0;
    padding: 1px;
    padding-bottom: 3px;
    font-size: 24px;
}
.slick-slider .suggestion-doctor-card .doctor-image .info .doctor-rank .star .after {
    padding-top: 4px;
}
.slick-slider .suggestion-doctor-card .doctor-info {
    width: 100%;
}
.slick-slider .suggestion-doctor-card .make-appointment {
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}
.slick-slider .suggestion-doctor-card .make-appointment p {
    background-color: #f8f9fa;
    color: rgb(73, 201, 188);
    border: 1px solid rgb(73, 201, 188); 
    font-size: 0.80rem;
    font-weight: 400;
    padding: 0.8em;
    border-radius: 3px;
}
.slick-slider .suggestion-doctor-card .make-appointment p:hover {
    background-color: rgb(73, 201, 188);
    color: white;
}