.show-doctors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}
.show-doctors .doctor-card {
    display: flex;
    flex: 100%;
    height: fit-content;
    background-color: #fff;
    margin: 0 30px 15px 0;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.075);
}
.show-doctors .no-found-doctor {
    height: 100%;
    margin: auto;
    margin-top: 15%;
}
.show-doctors .doctor-card .doctor-image {
    margin: 0 20px 0 0;
}
.show-doctors .doctor-card .doctor-info {
    width: 100%;
}
.show-doctors .doctor-card .make-appointment {
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}
.show-doctors .doctor-card .make-appointment p {
    background-color: #f8f9fa;
    color: rgb(73, 201, 188);
    border: 1px solid rgb(73, 201, 188); 
    font-weight: 400;
    padding: 15px;
    border-radius: 3px;
}
.show-doctors .doctor-card .make-appointment p:hover {
    background-color: rgb(73, 201, 188);
    color: white;
}
.show-doctors .see-more {
    display: flex;
    justify-content: center;
    width: 100%;
}
.show-doctors .see-more p {
    padding: 12px;
    font-size: 0.85rem;
    background-color: rgb(73, 201, 188);
    border: 1px solid rgb(73, 201, 188);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}
.show-doctors .see-more p:hover {
    background-color: white;
    color: rgb(73, 201, 188);
    border: 1px solid rgb(73, 201, 188);
}