.slide-area{
    padding: 45px 125px 45px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(158, 222, 216);
    position: relative;
}
.slide-area .image{
    width: 700px;
}
.slide-area .appointment-tab {
    width: 375px;
    background: white;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}
.slide-area .appointment-tab .inputs .location {
    position: relative;
    margin-bottom: 15px;
}
.slide-area .appointment-tab .inputs .location #sex {
    width: 95%;
    padding: 15px;
    margin-bottom: 10px;
}
.slide-area .appointment-tab .inputs .location #department {
    width: 95%;
    padding: 15px;
    letter-spacing: 0.7px;
}
/* .slide-area .appointment-tab .inputs .location #sex option {
    padding: 5px;
} */
.slide-area .appointment-tab .inputs span{
    position: absolute;
    top: -10px;
    left: 25px;
    padding-right: 4px;
    padding-left: 4px;
    background: white;
}
.slide-area .appointment-tab .inputs input {
    padding: 15px;
    width: 85%;
}
.slide-area .appointment-tab .inputs .search {  
    background: rgb(136, 219, 211);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
}
.slide-area .appointment-tab .inputs .search:hover {
    background: rgb(126, 187, 181);
}